---
- hosts: all
  tasks:
  - name: Make folder under TMP directory
    file:
      dest: /tmp/ans
      state: directory
  - name: sample file for all systems 
    file: 
      dest: /tmp/ans/all-file
      state: '{{file_state}}' # this makes the  STATE to be CHANGEABLE :) instead of touch
- hosts: web
  tasks:
  - name: create web file on web machines 
    file: 
      dest: /tmp/ans/web-file
      state: '{{file_state}}'
- hosts: web1
  tasks:
  - name: create only on web1
    file:
      dest: /tmp/ans/WEB1-file
      state: '{{file_state}}'